{%- assign mod_class = mod_class | default: false -%}
{%- assign mod_name = mod_name | default: false -%}
{%- assign mod_label = mod_label | default: false -%}
{%- assign mod_validate = mod_validate | default: false -%}
{%- assign mod_value = mod_value | default: false -%}
{%- assign mod_dynamic_value = mod_dynamic_value | default: false -%}
{%- assign mod_dynamic_options = mod_dynamic_options | default: false -%}
{%- assign mod_change = mod_change | default: false -%}
{%- assign mod_required = mod_required | default: false -%}
{%- assign mod_error = mod_error | default: false -%}
{%- assign mod_options = mod_options  | default: false -%}

{%- capture mod_css -%}
  select-input {{ mod_class }}
{%- endcapture -%}

<select
  is="select-input"
  class="{{- mod_css | strip -}}"
  {%- if mod_name -%}name="{{- mod_name -}}"{%- endif -%}
  {%- if mod_label -%}label="{{- mod_label -}}"{%- endif -%}
  {%- if mod_value -%}value="{{- mod_value -}}"{%- endif -%}
  {%- if mod_dynamic_options -%}
    :options="{{mod_dynamic_options}}"
    {%- if mod_validate -%}:validate="{{- mod_validate -}}"{%- endif -%}
    {%- if mod_dynamic_value -%}:get-value="{{- mod_dynamic_value -}}"{%- endif -%}
    {%- if mod_change -%}@change="{{- mod_change -}}"{%- endif -%}
  {%- endif -%}
  {%- if mod_required -%}mod_required="true"{%- endif -%}
  error="{{- mod_error -}}">{%- if mod_options -%}{{- mod_options -}}{%- endif -%}</select>

{%- assign mod_class = nil -%}
{%- assign mod_css = nil -%}
{%- assign mod_name = nil -%}
{%- assign mod_label = nil -%}
{%- assign mod_validate = nil -%}
{%- assign mod_value = nil -%}
{%- assign mod_dynamic_value = nil -%}
{%- assign mod_dynamic_options = nil -%}
{%- assign mod_change = nil -%}
{%- assign mod_required = nil -%}
{%- assign mod_error = nil -%}
{%- assign mod_options = nil -%}
