{%- assign mod_value = mod_value | default: 0 -%}

<div class="star-rating">
  <ul class="star-rating__list">
    {%- for i in (1..5) -%}
      {%- assign j = i | minus: 1 -%}

      <li class="star-rating__item icon">
        <i class="star-rating__icon icon">
          {%- if i <= mod_value -%}
            {%- include 'icon' with 'icon-star-full' -%}
          {%- elsif i > mod_value and mod_value > j -%}
            {%- include 'icon' with 'icon-star-half' -%}
          {%- else -%}
            {%- include 'icon' with 'icon-star-empty' -%}
          {%- endif -%}
        </i>
      </li>

      {%- assign j = nil -%}
    {%- endfor -%}
  </ul>
</div>

{%- assign mod_value = nil -%}
