{%- assign mod_product = mod_product | default: false -%}
{%- assign mod_attr = mod_attr | default: false  -%}
{%- assign mod_class = mod_class | default: blank -%}

{%- capture mod_css -%}
  product-card {{ mod_class }}
{%- endcapture -%}

<div
  class="{{- mod_css -}}"
  is="product-card"
  {%- if mod_product -%}
    key="{{- mod_product.id -}}"
    product="{% include 'product-json', mod_item: mod_product %}" decode="true"
  {%- endif -%}
  {%- if mod_attr -%}
    {{ mod_attr }}
  {%- endif -%}
  inline-template>
  <div>
    <a class="product-card__featured bg-parchment" :href="link">
      <div
        is="vue-image"
        css="fit-cover product-card__image"
        :src="imageSrc"
        :alt="title">
        <noscript>
          <a href="{{- mod_product.url -}}">
            <img
              src="{{- mod_product.featured_image | img_url: 'large' -}}"
              alt="{{- mod_product.title -}}"
              title="{{- mod_product.title -}}"/>
          </a>
        </noscript>
      </div>
    </a>
    <a class="product-card__details">
      <p class="h5" v-html="title">
        {{- mod_product.title -}}
      </p>
      <div
        is="color-selector"
        @change="changeActiveOption"
        :active="activeOption"
        :options="options"></div>
      <p class="visually-hidden p2" v-html="price">
        {{- mod_product.price | money -}}
      </p>
    </a>
  </div>
</div>

{%- assign mod_product = nil -%}
{%- assign mod_attr = nil -%}
{%- assign mod_class = nil -%}
{%- assign mod_css = nil -%}
