{%- assign mod_type = mod_type | default: 'featured' -%}
{%- assign mod_class = mod_class | default: blank -%}
{%- assign mod_title = mod_title | default: blank -%}
{%- assign mod_text = mod_text | default: blank -%}
{%- assign mod_btn_text_1 = mod_btn_text_1 | default: blank -%}
{%- assign mod_btn_link_1 = mod_btn_link_2 | default: blank -%}
{%- assign mod_btn_text_2 = mod_btn_text_2 | default: blank -%}
{%- assign mod_btn_link_2 = mod_btn_link_2 | default: blank -%}
{%- assign mod_position = mod_position | default: 'left' -%}

{%- capture mod_css -%}
  hero is-{{ mod_position }} js-hover {{ mod_class }}
{%- endcapture -%}

<section class="{{- mod_css | strip -}}">
  <div class="hero__{{ mod_type }} ratio">
    {%- case hero -%}
      {%- when 'video' -%}
        {%- assign mod_video = mod_video | default: false -%}
        {%- assign mod_fallback_mobile = mod_fallback_mobile | default: false -%}
        {%- assign mod_fallback_intermediate = mod_fallback_intermediate | default: false -%}

        {%- include 'video',
          mod_src: mod_video,
          mod_fallback_mobile: mod_fallback_mobile,
          mod_fallback_intermediate: mod_fallback_intermediate,
          mod_class: 'hero__video',
          mod_text: mod_title -%}

        {%- assign mod_video = nil -%}
        {%- assign mod_fallback_mobile = nil -%}
        {%- assign mod_fallback_intermediate = nil -%}

      {%- else -%}
        {%- assign mod_image = mod_image | default: false -%}
        {%- assign mod_image_src_media = mod_image_src_media | default: false -%}

        {%- include 'image',
          mod_src: mod_image,
          mod_src_media: mod_image_src_media,
          mod_class: 'hero__img',
          mod_text: mod_title,
          mod_loader: false -%}

        {%- assign mod_image = nil -%}
        {%- assign mod_image_src_media = nil -%}
    {%- endcase -%}
  </div>

  {%- if mod_title != blank or mod_text != blank or mod_btn_text_1 != blank or mod_btn_text_2 != blank -%}
    <div class="hero__container container container--xl">
      <div class="hero__wrapper">
        {%- if mod_title != blank -%}
          <h2 class="hero__title h1">
            {{- mod_title -}}
          </h2>
        {%- endif -%}

        {%- if mod_text != blank -%}
          <p class="hero__content p2">
            {{- mod_text -}}
          </p>
        {%- endif -%}

        {%- if mod_btn_text_1 != blank or mod_btn_text_2 != blank -%}
          <div class="hero__ctas js-cta">
            {%- if mod_btn_text_1 != '' -%}
              {%- include 'button' with 'link',
                mod_class: 'hero__btn btn--primary',
                mod_value: mod_btn_text_1,
                mod_href: mod_btn_link_1 -%}
            {%- endif -%}

            {%- if mod_btn_text_2 != '' -%}
              {%- include 'button' with 'link',
                mod_class: 'hero__btn btn--outlined',
                mod_value: mod_btn_text_2,
                mod_href: mod_btn_link_2 -%}
            {%- endif -%}
          </div>
        {%- endif -%}
      </div>
    </div>
  {%- endif -%}
</section>

{%- assign mod_type = nil -%}
{%- assign mod_class = nil -%}
{%- assign mod_css = nil -%}
{%- assign mod_title = nil -%}
{%- assign mod_text = nil -%}
{%- assign mod_btn_text_1 = nil -%}
{%- assign mod_btn_link_1 = nil -%}
{%- assign mod_btn_text_2 = nil -%}
{%- assign mod_btn_link_2 = nil -%}
{%- assign mod_position = nil -%}
{%- assign mod_video = nil -%}
{%- assign mod_fallback = nil -%}
{%- assign mod_src_media = nil -%}
{%- assign mod_image = nil -%}
{%- assign mod_image_mobile = nil -%}
