.hero__featured {
  max-height: 550px;
  width: 100%;

  @media (--s) {
    height: 600px;
    max-height: none;
  }

  @media (--xl) {
    height: 800px;
  }
}

.hero__featured::before {
  padding-top: calc(350 / 320 * 100%);

  @media (--xxs) {
    padding-top: calc(740 / 1440 * 100%);
  }

  @media (--s) {
    content: none;
  }
}

.hero__short {
  max-height: 250px;
  width: 100%;

  @media (--s) {
    height: 300px;
    max-height: none;
  }

  @media (--xl) {
    height: 400px;
  }
}

.hero__short::before {
  padding-top: calc(350 / 320 * 100%);

  @media (--xxs) {
    padding-top: calc(740 / 1440 * 100%);
  }

  @media (--s) {
    content: none;
  }
}

/* ------ shift the hero left, center or right ------ */

/* .hero.is-left .hero__container {
  @media (--s) {
    left: 0;
  }
}
*/

/* .hero.is-center .hero__container {
  @media (--s) {
    left: 0;
    margin: 0 auto;
    right: 0;
  }
} */

/* .hero.is-right .hero__container {
  @media (--s) {
    right: 0;
  }
} */
