{%- assign module = testimonials.settings -%}
{%- assign mod_title = item['title'] -%}

<section class="testimonials" data-module="testimonials">
  <div class="testimonials__container container container--s align-c">
    <h2 class="testimonials__title h5">
      {{- module['title'] -}}
    </h2>
    <div class="testimonials__carousel js-carousel" data-flickity-transition="fadein">
      {%- for testimonial in module['items'] -%}
        {%- assign item = testimonial.settings -%}

        <div class="testimonials__item js-slide">
          {%- include 'star-rating', mod_value: item['rating'] -%}
          <p class="testimonials__text h3">
            {{- item['text'] -}}
          </p>
          <span class="testimonials__author p3">
            {{- item['author'] -}}
          </span>
        </div>

        {%- assign item = nil -%}
      {%- endfor -%}
    </div>
  </div>
</section>

{%- assign module = nil -%}
{%- assign mod_title = nil -%}
