{%- assign mod_class = mod_class | default: false -%}
{%- assign mod_id = mod_id | default: false -%}
{%- assign mod_name = mod_name | default: false -%}
{%- assign mod_value = mod_value | default: false -%}
{%- assign mod_checked = mod_checked | default: false -%}
{%- assign mod_label = mod_label | default: false -%}

{%- capture mod_css -%}
  radio-button {{- mod_class -}}
{%- endcapture -%}

{%- capture mod_attr -%}
  {% if mod_id %}id="{{- mod_id -}}"{% endif %} {% if mod_name %}name="{{- mod_name -}}"{% endif %} {% if mod_value %}value="{{- mod_value -}}"{% endif %} {% if mod_checked -%}checked{% endif %}
{%- endcapture -%}

<div class="{{- mod_css | strip -}}">
  <span class="radio-button__holder">
    <input class="radio-button__el" type="radio" {{- mod_attr | strip -}}>
    <i class="radio-button__checked"></i>
  </span>
  {%- if mod_label -%}
    <label class="radio-button__label" {%- if mod_id -%}for="{{- mod_id -}}"{%- endif -%}>{{- mod_label -}}</label>
  {%- endif -%}
</div>

{%- assign mod_class = nil -%}
{%- assign mod_id = nil -%}
{%- assign mod_name = nil -%}
{%- assign mod_value = nil -%}
{%- assign mod_checked = nil -%}
{%- assign mod_label = nil -%}
{%- assign mod_css = nil -%}
{%- assign mod_attr = nil -%}
