.home-hero {
  .flickity-page-dots {
    margin-bottom: 30px;

    @media (--s) {
      bottom: 20px;
      left: 0;
      margin-bottom: 0;
      position: absolute;
      width: 100%;
    }
  }
}

.home-hero__slide {
  .hero__img,
  .hero__video {
    transform: scale(1.1);
    transition: transform 1s var(--ease-out-quart);

    @media (--s) {
      transition-duration: 1.5s;
    }
  }

  &.is-selected {
    .hero__img,
    .hero__video {
      transform: scale(1);
    }
  }
}
