{%- assign mod_item = mod_item | default: false -%}
{%- assign mod_encode = mod_encode | default: true -%}
{%- capture mod_tags -%}
{%- for tag in mod_item.tags -%}
{%- if tag contains '-' -%}
{%- assign mod_split_tags = tag | split: '-' -%}
,"{{mod_split_tags[0]}}:{{mod_split_tags | join: '-' | remove: mod_split_tags[0] | remove_first: '-'}}"
{%- endif -%}
{%- endfor -%}
{%- endcapture -%}

{%- capture mod_json -%}
{
  "id": "{{ mod_item.id }}",
  "images": [{%- for image in mod_item.images -%}"{{ image.src | img_url: 'medium' }}"{%- unless forloop.last -%},{%- endunless -%}{%- endfor -%}],
  "variants": [{%- for variant in mod_item.variants -%}{"title": "{{ variant.title }}", "id": "{{ variant.id }}"}{%- unless forloop.last -%},{%- endunless -%}{%- endfor -%}],
  "available": {%- if mod_item.available -%}true{%- else -%}false{%- endif -%},
  "handle": "{{ mod_item.handle }}",
  "title": "{{ mod_item.title }}",
  "featuredImage": "{{ mod_item.featured_image }}",
  "tags": [{%- for tag in mod_item.tags -%}"{{ tag }}"{%- unless forloop.last -%},{%- endunless -%}{%- endfor -%}],
  "price": "{{ mod_item.price | money }}",
  "optionNames": [{%- for option_name in mod_item.options -%}"{{ option_name }}"{%- unless forloop.last -%},{%- endunless -%}{%- endfor -%}]{%- if mod_item.options_with_values.size > 0-%},{%- endif -%}
  {%- for option in mod_item.options_with_values -%}
  "{{option.name}}": [{%- for value in option.values -%}"{{ value }}"{%- unless forloop.last -%},{%- endunless -%}{%- endfor -%}]{%- unless forloop.last -%},{%- endunless -%}
  {%- endfor -%}
}
{%- endcapture -%}
{%- if mod_encode -%}{{ mod_json | url_encode }}{%- else -%}{{ mod_json }}{%- endif -%}
{%- assign mod_encode = nil -%}
{%- assign mod_json = nil -%}
{%- assign mod_item = nil -%}
{%- assign mod_tags = nil -%}
{%- assign mod_split_tags = nil -%}
