<li class="header-side__item is-search" data-module="header-search-icon">
  <button class="header-side__link is-icon a1 js-side-link" id="search-btn" @click="toggleSearchOverlay">
    <span role="img" class="header-side__icon--search" v-if="!state.isSearchOpen">
      {%- include 'icon' with 'icon-search' -%}
    </span>
    <span role="img" v-else class="header-side__icon--search">
      {%- include 'icon' with 'icon-close' -%}
    </span>
    <span class="sr-only">Search</span>
  </button>
</li>
