.promo-bar {
  background-color: var(--black);
  color: var(--white);
  padding: 10px;
}

.promo-bar__container {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  padding: 0;
}

.promo-bar__content {
  padding: 0;
  text-align: center;
  text-indent: 12px;
  width: 100%;
}

.promo-bar__link {
  margin-left: 7px;
}

.promo-bar__close {
  cursor: pointer;
  display: block;
  height: 12px;
  width: 12px;
}

.promo-bar__close > svg {
  display: block;
  height: 100%;
  width: auto;
}

/* No Touch */
.no-touch .promo-bar__close {
  transition: opacity var(--duration) ease-in;
}

.no-touch .promo-bar__close:hover {
  opacity: 0.6;
}
