{%- for promo in promos -%}
  {%- assign item = promo.settings -%}

  {%- if item['promo_enable'] and item['content'] != blank -%}
    <div class="promo-bar js-promo-bar" data-module="promo-bar">
      <div class="promo-bar__container">
        <p class="promo-bar__content p2 js-content">
          {{- item['content'] -}}
          {%- if item['promo_link_text'] -%}
            <a class="promo-bar__link underline" href="{{- item['promo_link_url'] -}}">{{- item['promo_link_text'] -}}</a>
          {%- endif -%}
        </p>
        <span class="promo-bar__close js-close">
          {%- include 'icon' with 'icon-close' -%}
        </span>
      </div>
    </div>
  {%- endif %}
{%- endfor -%}

{%- assign item = nil  -%}
