.two-up-cta__inner {
  display: flex;
  flex-wrap: wrap;
}

.two-up-cta__content {
  margin: 0;
  flex: 0 0 auto;
  width: 100%;
  display: flex;

  @media (--s) {
    width: 50%;
  }
}

.two-up-cta__featured {
  width: 100%;
  display: flex;
  align-items: center;

  @media (--s) {
    width: 50%;
    padding: 0;
  }

  &::before {
    padding-bottom: 100%;
  }
}
