.btn {
  display: inline-block;
  height: 50px;
  line-height: 48px;
  min-width: 130px;
  padding: 0 20px;
  text-align: center;
}

.btn--primary {
  border: 1px solid var(--black);
  background-color: var(--black);
  color: var(--white);
}

.btn--outlined {
  border: 1px solid var(--black);
  color: var(--black);
}

.btn--full-width {
  width: 100%;
}

button,
.btn {
  &:focus {
    outline: 2px solid blue;
  }
}

.skip_link {
  position: absolute;
  top: 0;
  left: 50%;
  opacity: 0;
  transform: translate(-50%, -100px);
  text-transform: uppercase;
  padding: 10px 30px;
  color: var(--white);
  background-color: var(--black);
  border: 3px solid var(--black);
  z-index: 998;

  &:focus {
    outline: 5px auto -webkit-focus-ring-color;
  }

  &:active,
  &:focus {
    opacity: 1;
    pointer-events: auto;
    transform: translate(-50%);
    transition: all 0.3s ease;
  }
}

.skip_link--sidebar {
  top: 0;
  left: 0;
  transform: translate(-100%);

  &:active,
  &:focus {
    transform: translate(0);
  }
}
