.color-circle {
  background-size: cover;
  border-radius: 50%;
  box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.08);
  cursor: pointer;
  height: 22px;
  min-width: 22px;
  position: relative;
  text-align: center;
  width: 22px;
}

.color-circle.is-active::before {
  content: '';
  position: absolute;
  top: -2px;
  left: -2px;
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  border-radius: 50%;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 1);
}
