{%- if section.blocks.size > 0 -%}
  <div class="home-hero" data-module="home-hero" data-flickity-transition="fadein">
    {%- for block in section.blocks -%}
      {%- assign item = block.settings -%}
      {%- assign type = block.type -%}
        {%- include 'home-hero',
          item: item,
          type: type -%}
      {%- assign item = nil -%}
    {%- endfor -%}
  </div>
{%- endif -%}

{%- schema -%}
  {
    "name": "Home Hero",
    "blocks": [{
      "type": "image",
      "name": "Image",
      "settings": [{
        "type": "text",
        "id": "video",
        "label": "Video",
        "info": "Vimeo Pro Url"
      }, {
        "type": "image_picker",
        "id": "fallback_mobile",
        "label": "Image",
        "info": "Upload a JPEG of ~ 900px."
      }, {
        "type": "select",
        "id": "alignment",
        "label": "Text Alignment",
        "options": [
          {
            "value": "left",
            "label": "Left"
          },
          {
            "value": "center",
            "label": "Center"
          },
          {
            "value": "right",
            "label": "Right"
          }
        ],
        "default": "left"
      }, {
        "type": "text",
        "id": "title",
        "label": "Title"
      }, {
        "type": "textarea",
        "id": "text",
        "label": "Text"
      }, {
        "type": "url",
        "id": "btn_text_1",
        "label": "Button 1 Text"
      }, {
        "type": "text",
        "id": "btn_link_1",
        "label": "Button 1 Link"
      }, {
        "type": "url",
        "id": "btn_text_2",
        "label": "Button 2 Text"
      }, {
        "type": "text",
        "id": "btn_link_2",
        "label": "Button 2 Link"
      }]
    }, {
      "type": "video",
      "name": "Video",
      "settings": [{
        "type": "image_picker",
        "id": "image",
        "label": "Image",
        "info": "Upload a PNG of ~ 150x45px."
      }, {
        "type": "select",
        "id": "alignment",
        "label": "Text Alignment",
        "options": [
          {
            "value": "left",
            "label": "Left"
          },
          {
            "value": "center",
            "label": "Center"
          },
          {
            "value": "right",
            "label": "Right"
          }
        ],
        "default": "left"
      }, {
        "type": "text",
        "id": "title",
        "label": "Title"
      }, {
        "type": "textarea",
        "id": "text",
        "label": "Text"
      }, {
        "type": "url",
        "id": "btn_text_1",
        "label": "Button 1 Text"
      }, {
        "type": "text",
        "id": "btn_link_1",
        "label": "Button 1 Link"
      }, {
        "type": "url",
        "id": "btn_text_2",
        "label": "Button 2 Text"
      }, {
        "type": "text",
        "id": "btn_link_2",
        "label": "Button 2 Link"
      }]
    }],
    "presets": [
      {
        "name": "Hero",
        "blocks": []
      }
    ]
  }
{%- endschema -%}
