{%- assign mod_title = mod_title | default: blank -%}
{%- assign mod_tag = mod_tag | default: blank -%}
{%- assign mod_text = mod_text | default: blank -%}
{%- assign mod_image = mod_image | default: false -%}
{%- assign mod_image_text = mod_image_text | default: false -%}
{%- assign mod_image_src_media = mod_image_src_media | default: false -%}
{%- assign mod_cta_text = mod_cta_text | default: blank -%}
{%- assign mod_cta_url = mod_cta_url | default: blank -%}

{%- if mod_title != blank and mod_text != blank and mod_image -%}
  <a
    class="post-card block"
    href="{{- mod_cta_url -}}"
    title="{{- mod_title -}}">
    <div class="post-card__inner">
      {%- if mod_image -%}
        <div class="post-card__featured ratio">
          {%- include 'image',
            mod_class: 'post-card__image',
            mod_src: mod_image,
            mod_src_media: mod_image_src_media,
            mod_text: mod_image_text -%}
        </div>
      {%- endif -%}

      <div class="post-card__content">
        {%- if mod_tag != blank -%}
          <span class="post-card__tag block p3">
            {{- mod_tag -}}
          </span>
        {%- endif -%}

        {%- if mod_title != blank -%}
          <h3 class="h3 post-card__title">
            {{- mod_title -}}
          </h3>
        {%- endif -%}

        {%- if mod_text != blank %}
          <p class="post-card__text p2">
            {{- mod_text -}}
          </p>
        {%- endif -%}

        {%- if mod_cta_text != blank and mod_cta_url != blank -%}
          <div class="post-card__cta">
            <span class="post-card__link block a2">
              {{- mod_cta_text -}}
            </span>
          </div>
        {%- endif -%}
      </div>
    </div>
  </a>
{%- endif -%}

{%- assign mod_title = nil -%}
{%- assign mod_tag = nil -%}
{%- assign mod_text = nil -%}
{%- assign mod_image = nil -%}
{%- assign mod_image_text = nil -%}
{%- assign mod_image_src_media = nil -%}
{%- assign mod_cta_text = nil -%}
{%- assign mod_cta_url = nil -%}
