.newsletter__form {
  align-items: stretch;
  display: flex;
  width: 100%;
}

.newsletter__field {
  flex: 1 1 auto;

  .footer-mega__newsletter__form & {
    color: var(--grey-light);
    padding: 0;
  }
}

.newsletter__response {
  font-size: 12px;
  margin-top: 5px;
  padding: 0;
  position: absolute;
  z-index: 1;
}

.newsletter__btn {
  .footer__newsletter__form & {
    font-size: 0.8em;
    height: 35px;
    line-height: 35px;
    min-width: 100px;
  }

  .footer-mega__newsletter__form & {
    background-color: var(--grey-light);
    border-top: 0;
    border-right: 0;
    border-bottom: 0;
    border-left: solid 1px var(--grey-light);
    color: var(--black);
  }
}
