{%- assign mod_class = mod_class | default: blank -%}
{%- assign mod_css = mod_css | default: blank -%}
{%- assign mod_provider = mod_provider | default: false -%}
{%- assign mod_mailchimp_url = mod_mailchimp_url | default: false -%}
{%- assign mod_klaviyo_url = mod_klaviyo_url | default: false -%}
{%- assign mod_klaviyo_group = mod_klaviyo_group | default: false -%}
{%- assign mod_placeholder = mod_placeholder | default: '' -%}
{%- assign mod_error_msg = mod_error_msg | default: 'Error' -%}
{%- assign mod_success_msg = mod_success_msg | default: 'Success' -%}
{%- assign mod_btn_text = mod_btn_text | default: 'Submit' -%}

{%- capture mod_css -%}
  newsletter-form {{ mod_class }}
{%- endcapture -%}

<div
  is="newsletter-form"
  provider="{{- mod_provider -}}"
  mailchimp-url="{{- mod_mailchimp_url -}}"
  klaviyo-url="{{- mod_klaviyo_url -}}"
  klaviyo-group="{{- mod_klaviyo_group -}}"
  error-text="{{- mod_error_msg -}}"
  success-text="{{- mod_success_msg -}}"
  inline-template
  class="{{- mod_css | strip -}}">
  <div class="newsletter__wrapper">
    <form
      class="newsletter__form"
      action="{{- mod_url -}}"
      method="post"
      v-on:submit="submit"
      novalidate>
      {%- include 'text-input',
        mod_name: 'EMAIL',
        mod_type: 'email',
        mod_class: 'newsletter__field text-input',
        mod_label: mod_placeholder,
        mod_error: mod_error_msg,
        mod_style: 'newsletter',
        mod_change: 'onInputChange',
        mod_required: true,
        mod_validation: 'isValidEmail' -%}
      {%- include 'button',
        mod_type: 'submit',
        mod_value: mod_btn_text,
        mod_class: 'newsletter__btn btn--primary' -%}
    </form>
    <transition name="fade">
      <div class="newsletter__response" v-if="response">
        <p v-html="response"></p>
      </div>
    </transition>
  </div>
</div>

{%- assign mod_class = nil -%}
{%- assign mod_css = nil -%}
{%- assign mod_provider = nil -%}
{%- assign mod_mailchimp_url = nil -%}
{%- assign mod_klaviyo_url = nil -%}
{%- assign mod_klaviyo_group = nil -%}
{%- assign mod_placeholder = nil -%}
{%- assign mod_error_msg = nil -%}
{%- assign mod_success_msg = nil -%}
{%- assign mod_btn_text = nil -%}