{%- assign mod_main = section.settings -%}
{%- assign mod_main_links = linklists['main-menu'].links | default: false -%}

<header class="header js-header js-mobile-content" id="header" data-module="header">

  {%- include 'promo-bar' -%}

  <div class="header__container container container--xl">
    <span class="header__btn-mobile js-btn-mobile">
      <span class="header__btn-mobile__el"></span>
    </span>
    <a class="header-logo" href="/" title="{{- shop.name -}}">
      {%- comment -%} {%- include 'logo' with 'barrel' -%} {%- endcomment -%}
      <p>Brand Logo Here</p>
      <span class="hidden">{{- shop.name -}}</span>
    </a>
    {%- if mod_main_links -%}
      <nav class="header__nav js-nav">
        <div class="header__nav__container">
          <a class="header__nav__logo logo block" href="/" title="{{- shop.name -}}">
            {%- comment -%} {%- include 'logo' with 'logo-main' -%} {%- endcomment -%}
          </a>
          <ul class="header__nav__list">
            {%- for link in mod_main_links -%}
              {%- capture title -%}
                {{- link.title -}}
              {%- endcapture -%}
              <li class="header__nav__item js-link">
                {%- if link.links != blank -%}
                  <div class="header__nav__link a1 lb2">
                    <span>{{- title | strip -}}</span>
                    <span role="img" class="header__nav__icon icon">
                      {%- include 'icon' with 'icon-arrow-down' -%}
                    </span>
                  </div>
                  <div class="header__subnav js-subnav">
                    <ul class="header__subnav__list">
                      {%- for childlink in link.links -%}
                        <li class="header__subnav__item js-link">
                          <a class="a1 p2" href="{{- childlink.url -}}" title="{{- childlink.title -}}">{{- childlink.title -}}</a>
                        </li>
                      {%- endfor -%}
                    </ul>
                  </div>
                {%- else -%}
                  {%- if link.active -%}
                    <div class="header__nav__link lb2 is-active">
                      <span class="header__nav--holder">{{- title | strip -}}</span>
                    </div>
                  {%- else -%}
                    <a class="header__nav__link js-link a1 lb2" href="{{- link.url -}}" title="{{- link.title -}}">
                      {{- title | strip -}}
                    </a>
                  {%- endif -%}
                {%- endif -%}
              </li>
              {%- assign title = nil -%}
            {%- endfor -%}
          </ul>
        </div>
      </nav>
    {%- endif -%}

    <div class="header-side">
      <ul class="header-side__list">

        {%- include 'header-search-icon' -%}

      </ul>
    </div>
  </div>
  {%- include 'header-search' -%}
</header>

{%- assign mod_main = nil -%}
{%- assign mod_main_links = nil -%}
