.logo-carousel {
  padding: 30px 0;

  @media (--s) {
    padding: 50px 0;
  }
}

.logo-carousel__container {
  width: 100%;

  @media (--l) {
    width: calc(100% - 160px);
  }
}

.logo-carousel__wrapper {
  display: flex;
  justify-content: center;
}

.logo-carousel__item {
  padding: 0 20px;
  width: 125px;

  @media (--xxs) {
    width: 200px;
  }

  @media (--xs) {
    padding: 0 40px;
  }

  @media (--m) {
    padding: 0 0 0 80px;
  }

  @media (--xl) {
    padding: 0 60px;
    width: 20%;
  }

  &:last-child {
    @media (--m) {
      padding-right: 80px;
      width: 280px;
    }

    @media (--xl) {
      padding-right: 60px;
      width: 20%;
    }
  }
}

.logo-carousel__featured {
  background-color: turquoise;

  &::before {
    padding-bottom: calc(40 / 155 * 100%);
  }
}
