{%- assign mod_title = mod_title | default: blank -%}
{%- assign mod_class = mod_class | default: blank -%}
{%- assign mod_handles = 'lemtosh,zev,miltzen' | split: ',' -%}

{%- capture mod_css -%}
  product-three-up {{- mod_class -}}
{%- endcapture -%}

<div data-module="product-three-up" v-cloak>
  <div class="{{- mod_css | strip -}}">
    <div class="product-three-up__container container container--xl">
      {%- if mod_title != blank -%}
        <h3 class="product-three-up__title h3 align-c">
          {{- mod_title -}}
        </h3>
      {%- endif -%}

      <div class="product-three-up__items" ref="carousel">
        {%- for item in mod_handles -%}
          {%- include 'product-card',
            mod_class: 'product-three-up__item',
            mod_product: all_products[item] -%}
        {%- endfor -%}
      </div>
    </div>
  </div>
</div>

{%- assign mod_title = nil -%}
{%- assign mod_class = nil -%}
{%- assign mod_handles = nil -%}

