/* stylelint-disable */
@import "./../../../node_modules/vue-quick-search/dist/vueQuickSearch.css";
/* stylelint-enable */

.vue-qs {
  height: 50px;
  width: 100%;
  max-width: 100%;
  box-shadow: inset 0 1px 0 0 #dcdcdc;
  transition: height 0.2s ease-in;
  z-index: 1;

  @media (--s) {
    position: absolute;
    top: 75px;
    left: calc(100vw - 600px);
    max-width: 520px;
    background-color: white;
  }
}

.vue-qs__inner {
  height: 100%;
}

.vue-qs__submit {
  position: absolute;
  top: 50%;
  left: 20px;
  transform: translateY(-50%);
  z-index: 2;
}

.vue-qs__input-wrapper {
  position: absolute;
  padding-left: 45px;
}

.vue-qs__input-label {
  color: var(--grey);
}

.vue-is__dropdown {
  position: absolute;
  top: 35px;
  padding: 10px 20px 30px;
  width: 100%;
  background-color: var(--white);
  overflow: auto;

  @media (--s) {
    max-height: calc(100vh - 200px);
    top: 55px;
  }
}

.vue-qs__result {
  padding: 5px 0;
}

.vue-qs__result-title {
  width: 70%;
}

.vue-qs__results-footer {
  padding-top: 20px;
  text-align: center;
  text-decoration: underline;
}

/* vue transition */

.vue-qs-enter-active {
  transition: all 0.3s ease;
}

.vue-qs-leave-active {
  transition: all 0.2s cubic-bezier(1, 0.5, 0.8, 1);
}

.vue-qs-enter,
.vue-qs-leave-to {
  transform: translateX(10px);
  opacity: 0;
}
