{%- assign mod_class = mod_class | default: blank -%}
{%- assign mod_text = mod_text | default: blank -%}
{%- assign mod_pos = mod_pos | default: 'center' -%}
{%- assign mod_src = mod_src | default: false -%}
{%- assign mod_fallback_mobile = mod_fallback_mobile | default: false -%}
{%- assign mod_fallback_intermediate = mod_fallback_intermediate | default: false -%}
{%- assign mod_autoplay = mod_autoplay | default: true -%}
{%- assign mod_loader = mod_loader | default: false -%}

{%- capture mod_css -%}
  video pos-{{ mod_pos }} js-video {% if mod_src_mobile %}no-fallback{% endif %} {{ mod_class }}
{%- endcapture -%}

<div class="{{- mod_css -}}" data-module="video">
  <video
    class="video__el js-video"
    data-src="{{- mod_src -}}"
    {% if mod_autoplay %}
      autoplay="true"
    {% endif %}
    loop="true"
    muted="true"
    playsinline></video>

  {%- if mod_fallback_mobile -%}
    {%- if mod_fallback_intermediate -%}
      {%- capture mod_fallback_src_media -%}
        <source media="(max-width: 444px)" data-srcset="{{- mod_fallback_mobile -}}">
        <source media="(min-width: 445px)" data-srcset="{{- mod_fallback_intermediate -}}">
      {%- endcapture -%}
    {%- endif -%}

    {%- include 'image',
      mod_class: 'video__fallback',
      mod_src: mod_fallback_mobile,
      mod_src_media: mod_fallback_src_media,
      mod_text: mod_text -%}

    {%- assign mod_fallback_src_media = nil -%}
  {%- endif -%}

  {%- if mod_loader -%}
    <i class="video__loader"></i>
  {%- endif -%}
</div>

{%- assign mod_class = nil -%}
{%- assign mod_css = nil -%}
{%- assign mod_text = nil -%}
{%- assign mod_pos = nil -%}
{%- assign mod_src = nil -%}
{%- assign mod_fallback_mobile = nil -%}
{%- assign mod_fallback_intermediate = nil -%}
{%- assign mod_autoplay = nil -%}
{%- assign mod_loader = nil -%}
